.m-button {
  height: 36px;
  padding-left: 12px;
  padding-right: 16px;
  border-radius: 4px;
  text-align: center;
  border: none;
  background-color: #019160;
  color: #fff;
  cursor: pointer;
  min-width: 80px;
}

.m-button:hover {
  background-color: #2fbe8e;
}

.m-button:active {
  background-color: #01b075;
}

.m-button-icon {
  background-position: 12px center;
  padding-left: 36px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-right: 16px;
}

.m-button-icon-add {
  background-image: url(../../assets/icon/add.png);
}

.m-button-toolbar-item {
  margin-right: 4px;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.m-button-dialog {
  margin-left: 8px;
  height: 36px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 4px;
  text-align: center;
  border: none;
  background-color: #019160;
  color: #fff;
  cursor: pointer;
  min-width: 80px;
}
