.m-dialog {
  font-family: GoogleSands;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.m-dialog .m-dialog-footer {
  height: 100%;
  background-color: #e6e6e6;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.m-dialog .m-dialog-footer .m-dialog-footer-left {
  display: flex;
  height: 36px;
  width: calc(100% - 28px);
  align-items: center;
  justify-content: flex-end;
  margin-right: 24px;
  margin-top: 20px;
  height: 56px;
}

.m-dialog .m-dialog-active {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #fefefe;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.m-dialog .m-dialog-active .m-dialog-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  padding-top: 16px;
  padding-bottom: 12px;
}

.m-dialog .m-dialog-active .m-dialog-header button {
  height: 24px;
  width: 24px;
  margin-right: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  background-size: 24px 24px;
  border-radius: 4px;
  cursor: pointer;
}

.m-dialog .m-dialog-active h3 {
  padding-left: 8px;
}

.m-dialog .m-dialog-active .m-dialog-content {
  margin-left: 20px;
  margin-right: 20px;
}


.m-dialog .m-dialog-active .m-dialog-content .m-dialog-content-line1 {
  margin-right: 0px;
  margin-right: 0px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 8px;
}

.m-dialog .m-dialog-active .m-dialog-content .m-dialog-content-line2 {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.m-dialog .m-dialog-active .m-dialog-content .m-dialog-content-line3 {
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.m-dialog .m-dialog-active .m-dialog-content .m-dialog-content-line4 {
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.m-dialog
  .m-dialog-active
  .m-dialog-content
  .m-dialog-content-line4
  .m-dialog-diachi {
}

.m-dialog .m-dialog-active .m-dialog-content .m-dialog-content-line5 {
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.m-dialog .m-dialog-active .m-dialog-content .m-dialog-content-line6 {
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.m-dialog .m-dialog-warning {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #fefefe;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.m-dialog .m-dialog-active .m-dialog-warning-header {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  padding-top: 16px;
}

.m-dialog .m-dialog-active .m-dialog-warning-header button {
  height: 24px;
  width: 24px;
  margin-right: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: black;
  border: 1px solid #e6e6e6;
  background-size: 24px 24px;
  border-radius: 4px;
  cursor: pointer;
}

.m-dialog .m-dialog-active .m-dialog-warning-content {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 24px;
  height: 37px;
  font-size: 14px;
  line-height: 18px;
  height: 37px;
}

.m-dialog .m-dialog-active .m-dialog-warning-footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
  margin-bottom: 24px;
}
