@import url("/FE/css/layout/header.css");
@import url("/FE/css/layout/content.css");
@import url("/FE/css/layout/navbar.css");
@import url("/FE/css/components/button.css");
@import url("/FE/css/components/icon.css");
@import url("/FE/css/components/input.css");
@import url("/FE/css/components/dropdown.css");
@import url("/FE/css/components/toast.css");
@import url("/FE/css/components/table-1.css");
@import url("/FE/css/components/paging.css");
@import url("/FE/css/components/dialog.css");
@import url("/FE/css/components/textfield.css");
@import url("/FE/css/components/grid.css");
@import url("/FE/css/components/radio.css");

@font-face {
  font-family: GoogleSands;
  src: url(../assets/font/GoogleSans-Regular.otf);
}

@font-face {
  font-family: GoogleSandsBold;
  src: url(../assets/font/GoogleSans-Bold.otf);
}

@font-face {
  font-family: GoogleSandsItalic;
  src: url(../assets/font/GoogleSans-Italic.otf);
}

* {
  font-family: GoogleSands;
  font-weight: 400;
}
body {
  margin: 0;
  font-family: GoogleSands;
  font-size: 13;
  font-weight: 400;
  overflow: hidden;
}

h3 {
  font-family: GoogleSandsBold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.016em px;
  font-weight: 700;
}

h2 {
  font-family: GoogleSandsBold;
  font-size: 18px;
  line-height: 2px;
  letter-spacing: 0.018em px;
  font-weight: 700;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}


.m-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100000;
}

.m-loading .m-loading-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  border: 5px solid #f3f3f3;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

